* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headerdiv,
.elementlistdiv {
    height: auto;
    text-align: center;
    display: inline-block;
    font-size: 1rem;
}

div.heading {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
}

.data-wrapper,li {
    font-size: 1rem;
}



input[type="text"] {
    width: 90.4%;
    border: 2px solid rgba(0, 0, 255, 0.432);
    border-radius: 3px;
    padding: 8px;
    margin-right: -2%;
    outline: none;

}

.button {
    background-color: #0077ffde;
    border: none;
    color: white;
    padding: 9.5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 40px;
}

.form-wrapper {
    padding: 3px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #aaaaaa;  
}

.background{
    box-shadow: 2px 2px 3px #aaaaaa;  
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

.chartdimensions{
    width: 10rem;
     height: 10rem;
 }

 div.headerdiv div{
    max-width: 50em;
 }

.listborder{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 10px;
    margin-left: 8%;
    margin-right: 8%;

}